@using Microsoft.AspNetCore.Components

<div class="alert alert-@Severity.ToLower()" role="alert">
    @ChildContent
</div>

@code {
    [Parameter]
    public string Severity { get; set; } = "Info";
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
