@page "/projects"
@using Markdn.Pico.Models
@using Markdn.Pico.Services
@inject IPostsService PostsService

<PageTitle>Projects - Markdn.Pico</PageTitle>

<section class="container">
    <hgroup>
        <h1>Projects</h1>
        <p>My projects</p>
    </hgroup>

    <div class="grid">
        @foreach (var project in _projects)
        {
            <article>
                <header>
                    <h3><a href="@project.Route">@project.Title</a></h3>
                </header>
                <p>@project.Description</p>
                <footer>
                    <small>
                        @foreach (var tag in project.Tags)
                        {
                            <span class="secondary me-2">#@tag</span>
                        }
                    </small>
                </footer>
            </article>
        }
    </div>
</section>

@code {
    private List<Post> _projects = new();

    protected override void OnInitialized()
    {
        var allPosts = PostsService.GetAllPosts();
        _projects = allPosts.Where(p => p.Tags.Contains("project") || (p.Route != null && p.Route.Contains("/projects/"))).ToList();
    }
}
