<h2>Buttons</h2>
<p class="grid">
  <Button Text="Primary" Cls="" />
  <Button Text="Secondary" Cls="secondary" />
  <Button Text="Contrast" Cls="contrast" />
</p>
<p class="grid">
  <Button Text="Primary outline" Cls="outline" />
  <Button Text="Secondary" Cls="outline secondary" />
  <Button Text="Contrast" Cls="outline contrast" />
</p>
