
<footer class="container">
    <nav aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: '|';">
        <ul>
            <li>
                <Social Platform="github" username="" />
            </li>
            <li>
                <Social Platform="x" username="" />
            </li>
            <li>
                <Social Platform="instagram" username="" />
            </li>
            <li>
                <Social Platform="linkedin" username="" />
            </li>
            <li>
                <Social Platform="discord" username="" />
            </li>
            <li>
                <a href={`/rss.xml`} aria-label="Link to the RSS">rss</a>
            </li>
        </ul>
    </nav>
    <p>
        Built with <a href="https://astro.build/">Astro</a> & <a
                                                                  href="https://picocss.com/">Pico</a
        > • <a href="https://github.com/san-ghun/astro-pico/">Source code</a>
    </p>
</footer>

@code {

}
