<label for="@Purpose">
  @Label
  <input type="time" id="@Id" name="@Name" />
</label>

@code {
    [Parameter] public string Purpose { get; set; } = "";
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string Id { get; set; } = "";
    [Parameter] public string Name { get; set; } = "";
}
